html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, nav, input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

input {
    outline: none;
}

body {
    min-width: 990px;
}

li {
    list-style: none;
}

a:focus {
    text-decoration: none;
}