/*修改表单提示颜色*/
input::-webkit-input-placeholder{
    font-size: 12px;
    color:#cccccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    font-size: 12px;
    color:#cccccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    color:#cccccc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    font-size: 12px;
    color:#cccccc;
}
/*修改多选按钮样式*/
input[type="checkbox"]+label::before{
    content: "\a0";
    position: relative;
    bottom: 1px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 12px;
    height: 12px;
    margin-right: .4em;
    border: 1px solid #cccccc;
    text-indent: .15em;
    line-height: 1;
    cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
    background-color: #ff7874;
    background-clip: content-box;
    padding: 2px;
}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*修改bootstrap-select下拉框样式*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 80px;
    margin: 0 20px 0 0;
    bottom: 1px;
}
.btn.dropdown-toggle.btn-default{
    font-size: 12px;
    color:#666;
    border-color: #e9ebef;
    border-radius: 3px;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    height: 25px;
    padding: 5px 12px 5px 5px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    position: relative;
    bottom: 1px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    color:#cccccc;
}
.dropdown-menu>li>a{
    font-size: 14px;
}
/*自定义表单样式*/
.frm_error_msg{
    font-size: 12px;
    position: relative;
    color: #c33;
    left: 20px;
    opacity: 0;
}
.frm_div{
    margin-bottom: 20px;
}
.frm_group{
    margin-bottom: 18px;
}
.frm_label{
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color:#666;
    margin: 0 4px 0 0;
    text-align: right;
}
.frm_input{
    outline: none;
    padding: 5px;
    color:#666;
    margin: 0 20px 0 0;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #e9ebef;
    font-size: 12px;
}
.frm_input:focus{
    border: 1px solid #bbb;
}
.frm_num{
     width: 80px;
 }
.frm_btn{
    transition: background-color 0.25s ease-in;
    outline: none;
    height: 25px;
    border-radius: 5px;
    padding: 5px 18px;
    border: 0;
    color:white;
    font-size: 12px;
    background-color: #ff7874;
    margin-right: 10px;
}
.frm_btn:hover{
    background-color: #fe5874;
}
.frm_btn.frm_clear{
    transition: border-color 0.25s ease-in;
    position: relative;
    top:1px;
    border: 1px solid #cccccc;
    color:#666;
    background-color: #ffffff;
}
.frm_btn.frm_clear:hover{
    border: 1px solid #999999;
}
.frm_btn.frm_add{
    background-color: #8BB979;
    padding: 5px 18px;
}
.frm_btn.frm_add:hover{
    background-color: #81C979;
}
.frm_btn.frm_remove{
    background-color: #f9B689;
    padding: 5px 18px;
}
.frm_btn.frm_remove:hover{
    background-color: #f9B659;
}
.frm_btn.frm_refresh{
    background-color: #70BBF4;
    padding: 5px 18px;
}
.frm_btn.frm_refresh:hover{
    background-color: #50ABF4;
}

.data_count_div{
    overflow: hidden;
    width: 100%;
    height: 30px;
    padding: 3px 12px;
    background-color: #FEF6F4;
    border: 2px solid #F9ECEB;
    margin-bottom: 20px;
}
.data_count_div>.icon{
    width: 18px;
    height: 18px;
    fill: #FF7874;
    vertical-align: middle;
}
.data_count_div>span{
    font-size: 12px;
    color:#666;
}
.data_count_div>.data_count_title{
    padding-right: 5px;
}
.data_count_div>.data_count_value{
    color:#ff7874;
}
.data_count_div>.data_count_unit{
    padding-right: 20px;
}
.table_normal_div{
    position: relative;
}

.cbx_select+label{
    margin: 0;
}
.table_normal{
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}
.table_normal>thead{
    background-color: #f5f6fb;
}
.table_normal tr{
    border-bottom: 1px solid #F2F2F4;
    cursor: pointer;
}
.table_normal tbody>tr:hover{
    background-color: rgb(250,250,255);
}
.table_normal th{
    padding: 12px 15px;
    color:#333333;
}
.table_normal th.product_info:hover{
    background-color: rgb(235,235,235);
}
.table_normal th.product_info>span.orderByDesc{
    opacity: 0;
    display: inline-block;
    position: relative;
    bottom: 6px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #999999;
}
.table_normal th.product_info>span.orderByDesc.orderBySelect{
    border-bottom-color: #666666;
}
.table_normal th.product_info>span.orderByAsc{
    opacity: 0;
    display: inline-block;
    position: relative;
    top: 4px;
    right: 12px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #999999;
}
.table_normal th.product_info>span.orderByAsc.orderBySelect{
    border-top-color: #666666;
}
.table_normal td{
    padding: 10px 15px;
    color: #666666;
}
.table_normal span.td_success{
    color:#8BB979;
}
.table_normal span.td_warn{
    color:#f9B689;
}
.table_normal span.td_special,.table_normal span.td_special>a{
    color:#ff7874;
}
.table_normal span.td_wait{
    color: #70ABF4;
}
.table_normal span.td_error{
    color:#ccc;
}